body{
	background: #eaeaea;
	font: 100% 'Times New Roman';
}

table{
	margin: 40px auto;
	padding: 20px;
}
table th,td{
	padding: 5px;
	color: #a000aa;
}

form{
	display: block;
	width: 25%;
	margin: 10% auto;
}

form input{
	margin: 5px;
	padding: 5px;
}
h2{
	text-align: center;
	margin: 3% auto;
}

a .link{
	font: 1.5em;
	color: blue;
}
